<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
{% extends "base.html" %}

{% block register %}
    <h1>Registration</h1>
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        {% if form.username.errors %}
            <ul class="errors">
                {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=16) }}
        </p>
        {% if form.name.errors %}
            <ul class="errors">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname(size=16) }}
        </p>
        {% if form.surname.errors %}
            <ul class="errors">
                {% for error in form.surname.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        {% if form.password.errors %}
            <ul class="errors">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}
        </p>
        {% if form.confirm_password.errors %}
            <ul class="errors">
                {% for error in form.confirm_password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>{{ form.accept_rules() }} {{ form.accept_rules.label }}</p>
        {% if form.accept_rules.errors %}
            <ul class="errors">
                {% for error in form.accept_rules.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
</body>
</html>